.djy-button {
    border: none;
    position: relative;
    background: dodgerblue;
    color: white;
    outline: 0px !important;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 3px;
    padding: 8px 16px;
    cursor: pointer;
}
