@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$primary-color: dodgerblue;
$link-color: dodgerblue;
$success-color: #00bfa5;
$error-color: #e57373;
$background-color: #F4F6F7;

* {
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    background: transparent;
}

.djy-button {
    border: none;
    position: relative;
    background: $primary-color;
    color: white;
    outline: 0px !important;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 3px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

    &:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    &.flat {
        background: transparent;
        color: $primary-color;
        .material-icons {
            color: $primary-color;
        }
        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }
    }

    &.success {
        background: $success-color;
    }
    &.error {
        background: $error-color;
    }

    .material-icons {
        font-size: 20px;
        position: relative;
        top: -1px;
        margin-right: 4px;
    }

    span.label {
        margin-right: 4px;
    }

}
